-# <<<<<<< HEAD
-# %p test
-# %p= @page.title

-# %p Existing file sections
-# - @page.file_sections.each do |file_section|
-# 	= render partial: 'file_sections/file_section', locals: {file_section: file_section}
-# %br

-# %p New file section
-# = render partial: 'file_sections/form', locals: {page: @page, file_section: FileSection.new}

-# = link_to "Edit Page", edit_page_path(@page)
-# = link_to "Delete Page", page_path(@page), method: :delete
-# =======
/ %p test
/ %p= @page.description


.first-section-wrapper
	%img#main-img{:src => "http://uncrate.com/p/2013/08/neat-ice-kit-xl.jpg", :alt => ""}/ 
.second-section-wrapper
	.content-wrapper
		.nav.main-nav
			%ul 
				%li 
					%a{:href => ""} Contact
				%li.pipe &#124;
				- if current_user then				
					%li 
						= link_to "Log Out", destroy_user_session_path
				- else
					%li 
						= link_to "Admin Login", new_user_session_path
		.page-overview
			%h1.page-title= @page.title
			%h2.page-subtitle= @page.subtitle
			.divider
			%p= @page.description
.download-section-wrapper
	.content-wrapper
		%h2 These Are Downloads
		.divider
		.subsections-wrapper
			.subsection
				.subsection-header
					%h3 Subsection Title
					/ download button
					%a{:href => ""}
						%img{:src => "", :alt => ""}/  
				.resources-wrapper
					.resource
						%h4 Resouce Title
						%p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						/ download button
						%a{:href => ""}
							%img{:src => "", :alt => ""}/   
		 
