

/ This is the opening image
.main-img
	.container
		.top-nav
			.top-left-nav
				%a.btn{:href => "www.google.com"} Admin Login
			.top-right-nav
				%a.btn{:href => "www.google.com"} About
				%a.btn{:href => "www.google.com"} Contact

		.main-headline
			%h1= @page.title
			%br/
			%p= @page.description

.main-content
	.container
		.main-description
			%h1= @page.resources_header
			%p= @page.resources_description




%p Welcome to soapbox!
%br

%h1= @page.title

- @page.resources.each do |resource|
	%img{:src => "https://d3oaxc4q5k2d6q.cloudfront.net/m/9c918ff298bc/img/language-avatars/default_64.png", :alt => ""}/ 
	.resource_label
		%h2 Resource:
	.resources
		%button.primary-button= resource.title
		%h3= resource.description


