<!DOCTYPE html>
<html>
<head>
  <title>Dropboxapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- devise stuff -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!-- end devise stuff -->

<%= yield %>

</body>
</html>
